* {
    font-family: 'Century Gothic';
}

html body {
    background-image: url('../img/bg.png');
    background-repeat: repeat;
}

#container {
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.basic {
    margin-top: 20px;
}

#header {
    background-color: #3cb878;
    height: 150px;
    display: flex;
    align-items: center;
}

#logo {
    background-color: white;
    height: 110px;
    width: 110px;
    margin-left: 30px;
    text-align: center;
}

#logo img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#search {
    background-color: #f9f9f9;
    height: 40%;
    text-align: left;
    border: none;
    padding-right: 50px;
    transition: 0.2s;
}

#search::placeholder {
    font-size: large;
    color: #363636;
    opacity: 10%;
}

#menu {
    background-color: #e5e5e5;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}

#slider {
    height: 140px;
    margin-top: 20px;
}

#content {
    height: 400px;
    margin: 20px auto 0px auto;
    display: flex;
    flex-direction: column;
}

#big-footer {
    display: flex;
    background-color: #ebebeb;
    height: 200px;
}

.menu-element {
    text-align: center;
    background-color: #ebebeb;
    height: 100%;
    text-decoration: none;
    color: black;
    line-height: 200%;
}
.menu-element:hover {
    text-decoration: none;
    color: black;
}

#b-header {
    background-color: #3cb878;
    text-align: center;
    color: white;
    height: 40px;
    font-size: 25px;
}

#bestsellers {
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
}

#bestsellers a img {
    border: 2px #d7d7d7 solid;
}

#text-content {
    display: flex;
    justify-content: space-between;
}

#why-us, #our-products {
    background-color: #ebebeb;
    text-align: left;
}

#why-us h4, #our-products h4, #newsletter h4 {
    margin-top: 10px;
}

#newsletter {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/img6.jpg);
    background-size: cover;
    text-align: center;
    color: white;
}

#newsletter input[type="text"] {
    height: 40px;
}

#newsletter input::placeholder {
    font-size: 25px;
    color: #363636;
    opacity: 10%;
}

#name, #surname {
    margin-bottom: 20px;
}

#newsletter input[type="submit"] {
    display: block;
    margin: auto;
    height: 40px;
    font-size: 20px;
    width: 100px;
}

#big-footer div {
    background-color: #d7d7d7;
    margin: 20px 10px 20px 10px;
    text-align: center;
}

#big-footer div h4 {
    margin-top: 5px;
}

#big-footer div ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: -7px;
}

#big-footer div ul li a {
    text-decoration: none;
    color: black;
}

.sl22222ide {
    display: none;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 40px;
}

#butt22ons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#prev22ious, #nex22t {
    cursor: pointer;
    position: relative;
    width: auto;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#ne22xt {
    border-radius: 3px 0 0 3px;
}

.which-sli22de {
    position: absolute;
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
}

.fad222e {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes fa222de {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fa222de {
    from {opacity: .4}
    to {opacity: 1}
}

.t22222ext {
    position: relative;
    margin: auto;
    font-size: 40px;
    color: white;
    text-align: center;
}

#first-slide {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/slider.jpg');
    background-size: cover;
}

#second-slide {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/slider2.jpg');
    background-size: cover;
}

#third-slide {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/slider3.jpg');
    background-size: cover;
}

.slide p {
    line-height: 140px;
}

#menu a {
    transition: 0.2s;
}

#menu a:hover {
    color: #3cb878;
    transition: 0.2s;
}

#header input[type="text"]:hover {
    background-color: #d7d7d7;
    transition: 0.2s;
}

#help a:hover {
    color: #3cb878;
    transition: 0.2s;
}

#help a {
    transition: 0.2s;
}

#newsletter form input[type="text"] {
    transition: 0.2s;
    border: none;
}

#newsletter form input[type="text"]:hover {
    background-color: #d7d7d7;
    transition: 0.2s;
}

#newsletter form input[type="submit"]:hover {
    color: #3cb878;
    transition: 0.2s;
    cursor: pointer;
}

#newsletter form input[type="submit"] {
    transition: 0.2s;
}

.carousel-item img {
    height: 140px;
    filter: brightness(70%);
}

.carousel-caption {
    text-align: center;
    margin: auto;
}

.carousel-caption p {
    line-height: 40px;
    font-size: 40px;
}

#slider ol {
    margin-bottom: -5px;
}

.but:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.but {
    transition: 0.2s;
}

