* {
    font-family: 'Century Gothic';
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html body {
    background-image: url('../img/bg.png');
    background-repeat: repeat;
}

#container {
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.basic {
    margin-top: 20px;
}

#header {
    background-color: #3cb878;
    height: 150px;
    display: flex;
    align-items: center;
}

#logo {
    background-color: white;
    height: 110px;
    width: 110px;
    margin-left: 30px;
    text-align: center;
}

#logo img {
    position: relative;
    margin: 5px 0;
}

#search {
    position: relative;
    height: 70px;
    width: 100%;
    text-align: left;
    border: none;
    padding-left: 10px;
    transition: 0.2s;
}

#search-bar {
    margin-right: 5%;
}

#search-bar a i {
    font-size: 30px;
}

#search-bar a {
    position: absolute;
    color: black;
    text-decoration: none;
    right: 30px;
    top: 30%;
}

#search::placeholder {
    font-size: large;
    color: #363636;
    opacity: 10%;
}

#menu {
    background-color: #e5e5e5;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}

#slider {
    height: 140px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.oneSlide {
    width: 100%;
    height: 140px;
}

#prev {
    position: absolute;
    top: 40%;
    z-index: 10;
    left: 5%;
    cursor: pointer;
    color: white;
    font-size: 30px;
    transition: 0.4s;
}

#next {
    position: absolute;
    top: 40%;
    z-index: 10;
    right: 5%;
    cursor: pointer;
    color: white;
    font-size: 30px;
    transition: 0.4s;
}

#content {
    height: 400px;
    margin: 20px auto 0px auto;
    display: flex;
    flex-direction: column;
}

#big-footer {
    display: flex;
    background-color: #ebebeb;
    height: 200px;
}

.menu-element {
    text-align: center;
    background-color: #ebebeb;
    height: 100%;
    text-decoration: none;
    color: black;
    line-height: 200%;
}
.menu-element:hover {
    text-decoration: none;
    color: black;
}

#b-header {
    background-color: #3cb878;
    text-align: center;
    color: white;
    height: 40px;
    font-size: 25px;
}

#bestsellers {
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
}

#bestsellers a img {
    border: 2px #d7d7d7 solid;
}

#text-content {
    display: flex;
    justify-content: space-between;
}

#why-us, #our-products {
    background-color: #ebebeb;
    text-align: left;
}

#why-us h4, #our-products h4, #newsletter h4 {
    margin-top: 10px;
}

#newsletter {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/img6.jpg);
    background-size: cover;
    text-align: center;
    color: white;
}

#newsletter input[type="text"] {
    height: 40px;
    width: 70%;
}

#newsletter input::placeholder {
    font-size: 25px;
    color: #363636;
    opacity: 10%;
}

#name, #surname {
    margin-bottom: 20px;
}

#newsletter input[type="submit"] {
    display: block;
    margin: auto;
    height: 40px;
    font-size: 20px;
    width: 30%;
}

#big-footer div {
    background-color: #d7d7d7;
    margin: 20px 10px 20px 10px;
    text-align: center;
}

#big-footer div h4 {
    margin-top: 5px;
}

#big-footer div ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: -7px;
}

#big-footer div ul li a {
    text-decoration: none;
    color: black;
}

.sl22222ide {
    display: none;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 40px;
}

#butt22ons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#prev22ious, #nex22t {
    cursor: pointer;
    position: relative;
    width: auto;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#ne22xt {
    border-radius: 3px 0 0 3px;
}

.which-sli22de {
    position: absolute;
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
}

.fad222e {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes fa222de {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fa222de {
    from {opacity: .4}
    to {opacity: 1}
}

.t22222ext {
    position: relative;
    margin: auto;
    font-size: 40px;
    color: white;
    text-align: center;
}

#first-slide {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/slider.jpg');
    background-size: cover;
}

#second-slide {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/slider2.jpg');
    background-size: cover;
}

#third-slide {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/slider3.jpg');
    background-size: cover;
}

.slide p {
    line-height: 140px;
}

#menu a {
    transition: 0.2s;
}

#menu a:hover {
    color: #3cb878;
    transition: 0.2s;
}

#header input[type="text"]:hover {
    background-color: #d7d7d7;
    transition: 0.2s;
}

#help a:hover {
    color: #3cb878;
    transition: 0.2s;
}

#help a {
    transition: 0.2s;
}

#newsletter form input[type="text"] {
    transition: 0.2s;
    border: none;
}

#newsletter form input[type="text"]:hover {
    background-color: #d7d7d7;
    transition: 0.2s;
}

#newsletter form input[type="submit"]:hover {
    color: #3cb878;
    transition: 0.2s;
    cursor: pointer;
}

#newsletter form input[type="submit"] {
    transition: 0.2s;
}

.carousel-item img {
    height: 140px;
    filter: brightness(70%);
}

.carousel-caption {
    text-align: center;
    margin: auto;
}

.carousel-caption p {
    line-height: 40px;
    font-size: 40px;
}

#slider ol {
    margin-bottom: -5px;
}

.but:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.but {
    transition: 0.2s;
}

#newsletter form input[type="text"]:active {
    background-color: #a0a0a0;
}

#header input[type="text"]:active {
    background-color: #a0a0a0;
}

#cont {
    height: 400px;
    margin: 20px auto 0px auto;
    display: flex;
    flex-direction: column;
}

#cont1 {
    display: flex;
    justify-content: space-between;
    height: 300px;
    background-color: #e5e5e5;
}

#cont-text {
    font-size: 16px;
    height: auto;
    margin: auto;
    padding-top: 15.5px;
}

#cont2 {
    margin-top: 20px;
}

#cont2 form {
    text-align: center;
}

#cont2 form input, #cont2 form textarea {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    transition: 0.2s;
    border: none;
}

#cont2 form input:hover, #cont2 form textarea:hover {
    background-color: #d7d7d7;
    transition: 0.2s;
}

#cont2 form input:active, #cont2 form textarea:active {
    background-color: #a0a0a0;
}

#cont-text {
    background-color: #d7d7d7;
    margin: auto 5px;
}

#cont2 {
    background-color: #e5e5e5;
    margin: auto;
    margin-top: 20px;
    height: auto;
    width: 100%;
}

#cont2 form {
    margin: 20px auto;
}

#cont2 form input[type="submit"]:hover {
    cursor: pointer;
    color: #3cb878;
}

#s-footer {
    background-color: #ebebeb;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

#f-icons {
    margin-left: 20px;
    margin: auto 0 auto 20px;
}

#cop {
    margin-right: 20px;
    align-self: flex-end;
}

#facebook, #instagram {
    margin-right: 20px;
}

.d1 {
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/slider3.jpg);
    display: inline-block;
    width: 1110px;
    height: 100%;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.d2 {
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/slider.jpg);
    display: inline-block;
    width: 1110px;
    height: 100%;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 1110px;
}

.d3 {
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/slider2.jpg);
    display: inline-block;
    width: 1110px;
    height: 100%;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 2220px;
}

.d4 {
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/slider3.jpg);
    display: inline-block;
    width: 1110px;
    height: 100%;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 3330px;
}

.d5 {
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/slider.jpg);
    display: inline-block;
    width: 1110px;
    height: 100%;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 4440px;
}

#next:hover {
    color: #3cb878;
    transition: 0.4s;
}

#prev:hover {
    color: #3cb878;
    transition: 0.4s;
}

.oneSlide div {
    color: white;
    font-size: 50px;
}

.oneSlide div p {
    text-align: center;
    line-height: 280%;
}

@media (max-width: 1200px) {
    .oneSlide div p {
        display: none;
    }
    #dots {
        display: none;
    }
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.4s;
}

.dot {
    opacity: 60%;
}

.dot-active {
    opacity: 100%;
}

.dot:hover {
    color: #3cb878;
    opacity: 100%;
    transition: 0.4s;
}

#dots {
    position: absolute;
    z-index: 10;
    bottom: 5%;
    right: 522px;
    left: 522px;
    color: white;
}

#cont iframe {
    width: 100%;
}

#map a {
    display: none;
    color: black;
}

#map iframe {
    width: 100%;
    height: 65%;
}

#why-us ul {
    margin-left: 15px;
}

#header {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 990px) {
    #menu {
        font-size: 25px;
    }

    #menu a {
        line-height: 240%;
    }

    #text-content {
        flex-direction: column;
    }

    #text-content div {
        min-width: 100%;
        padding-bottom: 20px;
    }

    #our-products, #newsletter {
        margin-top: 20px;
    }

    #bestsellers {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #b4, #b5 {
        margin-top: 20px;
    }

    #cont1 {
        height: auto;
        flex-direction: column;
    }

    #cont-text {
        min-width: 97%;
        margin: 5px auto;
    }
}

@media (max-width: 768px) {
    #menu {
        font-size: 18px;
    }

    #menu a {
        line-height: 340%;
    }

    #map iframe {
        height: 50%;
    }

    #big-footer {
        font-size: 14px;
    }

    #bestsellers {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #b3 {
        margin-top: 20px;
    }
}

@media (max-width: 576px) {
    #menu {
        flex-direction: column;
        height: auto;
    }
    #menu a {
        min-width: 100%;
    }
}

@media (max-width: 490px) {
    #map {
        width: 20px;
    }
    #map h4, #map iframe {
        display: none;
    }
    #map a {
        display: block;
        font-size: 12px;
        margin-top: 59.5px;
        background-color: #3cb878;
        padding: 10px 2px;
    }
    #s-footer {
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media (max-width: 400px) {
    #b2 {
        margin-top: 20px;
    }
} 